[package]
name = "snes-emu"
version = "0.1.0"
edition = "2021"
license = "GPL-3.0-or-later"

[dependencies]
tracing = "0.1.40"
tracing-subscriber = { version = "0.3.18", features = ["env-filter"] }
tracy-client = { version = "0.18.0", features = ["demangle"] }

bytemuck = { version = "1.16.1", features = ["derive"] }
arbitrary-int = "1.2.7"

winit = { version = "0.30.5", default-features = true }
wgpu = "23.0.1"
egui = "0.30.0"
egui-wgpu = "0.30.0"
egui-winit = "0.30.0"
egui_dock = "0.15.0"
egui_extras = "0.30.0"
egui_memory_editor = { git = "https://github.com/LukasKarsten/egui_memory_editor.git" }

pollster = "0.4.0"
rfd = "0.15.1"
directories = "5.0.1"
serde = { version = "1.0.204", features = ["derive"] }
serde_json = "1.0.121"

[profile.dev]
opt-level = 1
